:root {
    --cont-cta: #717171;
    --color-1: #000000;
    --color-2: #f6f6f6;
    --strong-color: #fff;
    --color-wp: #a4c639;
    --color-in: #0e76a8;
    --color-git: #6d6a6a;
    --color-email: #e94242;
}
.dark-mode:root {
    --cont-cta: #ccc;
    --color-1: #fff;
    --color-2: #333;
    --strong-color: #000;
    --color-wp: #a4c639;
    --color-in: #0e76a8;
    --color-git: #000;
    --color-email: #e94242;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body,
html {
    color: var(--color-1);
    background-color: var(--color-2);
    overflow-x: hidden;
    width: 100vw;
    height: 100vh;
    font-family: sans-serif;
    transition: .5s;
    font-style: normal;
}
.cont-cta {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    height: 100%;
    gap: 150px;
}
h1 {
    font-weight: 500;
    font-size: 45px;
    line-height: 70PX;
}
strong {
    filter: drop-shadow(1px 1px 2px var(--cont-cta));
    color: var(--color-1);
}
img {
    width: 390px;
    height: 550px;
    border-radius: 20px;
    object-fit: cover;
    box-shadow: -15px 15px 15px var(--cont-cta);
}
h2{
    text-align: center;
    font-size: 20px;
}
li {
    padding-top: 20px;
    display: flex;
    gap: 40px;
}
ul{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}
i {
    text-align: center;
    font-size: 44pt;
    transition: .5s;
    color: var(--color-1);
}
#wp:hover{
    color: var(--color-wp);
}
#email:hover{
    color: var(--color-email);
}
#git:hover{
    color: var(--color-git);
}
#in:hover{
    color: var(--color-in);
}
i:hover {
    transition: .3s;
    color: var(--cont-cta);
}
.icon-mode {
    display: flex;
    justify-content: start;
    font-size: 40pt;
    align-items: center;
    align-self: row;
    text-align: center;
    cursor: pointer;
}
@media only screen and (max-width: 610px) {
    html,
    body{
        overflow-x: hidden;
        position: fixed;
    }
    .cont-cta {
        flex-direction: column-reverse;
        gap: 0;
        text-align: center;
    }
    .icon-mode {
        left: 145px;
        bottom: 215px;
    }
    h1 {
        font-size: 34pt;
        line-height: 45px;
        padding-bottom: 20px;
    }
    img {
        width: 220px;
        height: 220px;
        position: relative;
        border-radius: 50%;
        object-position: 100% 45%;
    }
    ul{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        padding: 0 35px;
        margin: 10px auto;
    }
    i {
        padding: 10px;
        margin: 20px auto;
        font-size: 38pt;
    }
    h2{
        font-size: 20pt;
        text-align: center;
    }
}

@media only screen and ( min-width: 520px ) and ( max-width: 767px){
    html,
    body{
        overflow-x: hidden;
    }
    .cont-cta {
        flex-direction: row;
        gap: 45px;
        text-align: center;
    }
    .icon-mode {
        left: 355px;
        bottom: 35px;
    }
    h1 {
        font-size: 34pt;
        line-height: 45px;
        padding-bottom: 20px;
    }
    img {
        width: 160px;
        height: 255px;
        position: relative;
        object-position: 100% 45%;
    }
    i {
        font-size: 20pt;
        display: flex;
        justify-content: center;
    }
    h2{
        font-size: 22pt;
        text-align: center;
    }
}
@media only screen and ( min-width: 768px ) and ( max-width: 1023px) {
    html,
    body{
        overflow-x: hidden;
    }
    .cont-cta {
        height: 100%;
        flex-direction: column-reverse;
        gap: 20px;
        text-align: center;
    }
    .icon-mode {
        left: 285px;
        bottom: 400px;
    }
    h1 {
        position: relative;
        bottom: 55px;
        font-size: 28pt;
        line-height: 55px;
        
    }
    img {
        width: 341px;
        height: 341px;
        border-radius: 50%;
        position: relative;
        object-position: 100% 45%;
    }
    ul{
        justify-content: center;
    }
}